

@import url('https://fonts.googleapis.com/css?family=Cute+Font|Yeon+Sung');

body, button, input, select, textarea {
    font-family:  'Nanum Gothic';
    font-size: 15px;
    font-size: 1.5rem;
}

 blockquote {
    font-size: inherit;
}